services:
    db:
        image: postgres:13
        restart: always
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            - POSTGRES_USER=${DB_USER:-user}
            - POSTGRES_PASSWORD=${DB_PASSWORD:-password}
            - POSTGRES_DB=${DB_NAME:-seashell_db}
        ports:
            - "5432:5432"
    api:
        build: .
        ports:
            - "8000:8000"
        volumes:
            - .:/app
        environment:
            - DATABASE_URL=postgresql://${DB_USER:-user}:${DB_PASSWORD:-password}@db:5432/${DB_NAME:-seashell_db}
        depends_on:
            - db
volumes:
    postgres_data:
